.testimonialContainer {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 100%;
    height: 400px;
   
    
  }
  
  .testimonialContainer::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
  
  .testimonialCard {
    flex: none;
    height: 250px;
    width: 450px;
  
   
    padding: 20px;
    background-color: #ffffff;
    
   
   
    transition: transform 0.3s ease-in-out;
  }
  
  .testimonialCard:hover {
    transform: scale(1.05);
  }

  .testimonialImage{
    height: 220px;
    width: 420px;
  }
  .testimonialName {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .testimonialFeedback {
    font-size: 0.9rem;
    color: #666;
  }
  