* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}
.custom-phone-input-container .flag.in {
  background-image: url('/assets/Flag.png') !important; /* India flag */
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center !important;

 
 
}
/* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #35b9df -2.17%,
    #a7f9ad 100%
  );
  border-radius: 6px;
  transition: color 0.4s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    90deg,
    #0ebbeb -2.17%,
    #a7f9ad  100%
  );

}

::-webkit-scrollbar-track {
  background: initial;
  border-radius: 6px;
} */

/* contact popup */

.react-responsive-modal-modal {
  max-width: 800px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: #ffffff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 1.2rem;
  padding: 1.2rem;
  position: relative;
  overflow-y: auto;
  border-radius: 30px;
}