.home_business {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 50px 0px;
  height: 100%;
}

.home_business_heading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.home_business_heading_container h1 {
  width: 100%;
  font-size: 42px;
  font-weight: 300;
  color: black;
  text-align: center;
}

.home_business_container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
}

.home_business_container_one,
.home_business_container_two,
.home_business_container_three {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 3px solid white;
  border-radius: 30px;
  padding: 10px 0px 10px 50px;
  color: black;
  transition: background-color 0.5s ease, border-color 0.5s ease,
    color 0.5s ease;
}

.home_business_container_one:hover {
  background-color: #FFC800;
  border: 3px solid #FFC800;
  color: black;
}
.home_business_container_two:hover {
  background-color: #FFC800;
  border: 3px solid #FFC800;
  color: black;
}
.home_business_container_three:hover {
  background-color: #FFC800;
  border: 3px solid #FFC800;
  color: black;
}

.home_business_container_one div:nth-child(1),
.home_business_container_two div:nth-child(1),
.home_business_container_three div:nth-child(1) {
  width: 30%;
}

.home_business_container_one div:nth-child(2),
.home_business_container_two div:nth-child(2),
.home_business_container_three div:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_business_container_one h1,
.home_business_container_two h1,
.home_business_container_three h1 {
  font-size: 38px;
  font-weight: 300;
}

.home_business_container_one div:nth-child(2) p,
.home_business_container_two div:nth-child(2) p,
.home_business_container_three div:nth-child(2) p {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 24px;
}

.home_business_container_one div:nth-child(3),
.home_business_container_two div:nth-child(3),
.home_business_container_three div:nth-child(3) {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_business_rightarrow_icon {
  font-size: 120px;
}

@media (min-width: 769px) and (max-width: 990px) {
  .home_business_container_one h1,
  .home_business_container_two h1,
  .home_business_container_three h1 {
    font-size: 24px;
    font-weight: 300;
  }

  .home_business_container_one div:nth-child(2) p,
  .home_business_container_two div:nth-child(2) p,
  .home_business_container_three div:nth-child(2) p {
    font-size: 16px;
  }

  .home_business_rightarrow_icon {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .home_business_container {
    gap: 20px;
  }

  .home_business_container_one,
  .home_business_container_two,
  .home_business_container_three {
    padding: 10px 15px;
  }

  .home_business_container_one div:nth-child(1),
  .home_business_container_two div:nth-child(1),
  .home_business_container_three div:nth-child(1) {
    width: 100%;
  }

  .home_business_container_one div:nth-child(2),
  .home_business_container_two div:nth-child(2),
  .home_business_container_three div:nth-child(2) {
    width: 100%;
    padding-top: 20px;
  }

  .home_business_container_one div:nth-child(3),
  .home_business_container_two div:nth-child(3),
  .home_business_container_three div:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .home_business_container_one h1,
  .home_business_container_two h1,
  .home_business_container_three h1 {
    font-size: 28px;
    width: 100%;
  }

  .home_business_container_one div:nth-child(2) p,
  .home_business_container_two div:nth-child(2) p,
  .home_business_container_three div:nth-child(2) p {
    font-size: 16px;
    width: 100%;
  }

  .home_business_rightarrow_icon {
    font-size: 80px;
  }
}

@media (max-width: 480px) {
  .home_business_heading_container h1 {
    font-size: 38px;
  }
  .home_business {
    height: 100%;
  }

  .home_business_container_one,
  .home_business_container_two,
  .home_business_container_three {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid white;
  }
  .home_business_container_one div:nth-child(1),
  .home_business_container_two div:nth-child(1),
  .home_business_container_three div:nth-child(1) {
    width: 100%;
  }

  .home_business_container_one div:nth-child(2),
  .home_business_container_two div:nth-child(2),
  .home_business_container_three div:nth-child(2) {
    width: 100%;
    padding-top: 20px;
  }

  .home_business_container_one div:nth-child(3),
  .home_business_container_two div:nth-child(3),
  .home_business_container_three div:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .home_business_container_one h1,
  .home_business_container_two h1,
  .home_business_container_three h1 {
    font-size: 24px;
  }

  .home_business_container_one div:nth-child(2) p,
  .home_business_container_two div:nth-child(2) p,
  .home_business_container_three div:nth-child(2) p {
    font-size: 14px;
    width: 100%;
  }

  .home_business_rightarrow_icon {
    font-size: 60px;
  }
}

@media (min-width: 320px) and (max-width: 350px) {
  .home_business_container_one,
  .home_business_container_two,
  .home_business_container_three {
    padding: 10px 15px;
    height: 200px;
  }
}
