.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
}

.navbar_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navbar_links img {
  height: 50px;
  cursor: pointer;
}

.navbar_links ul {
  display: flex;
  gap: 40px;
}

.navbar_links ul li {
  list-style-type: none;
  font-size: 17px;
  font-weight: 400;
  color: gray;
  cursor: pointer;
}
.navbar_links a {
  text-decoration: none;
}

.navbar_links a li {
  text-decoration: none;
}

.navbar_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navbar_btn_container ul li {
  list-style-type: none;
  font-size: 17px;
  font-weight: 400;
  color: gray;
  cursor: pointer;
}

.navbar_btn_container button {
  background:#FFC900;
  color: #FFF;
  border: none;
  padding: 10px 40px;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 20px;
  transition: background-image 0.3s ease, box-shadow 0.3s ease;
}

.navbar_btn_container button:hover {
  
  background: white;
  color: black;
  border: 1px solid black;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 2px;
  background-color: #0f0f0f;
  transition: all 0.3s linear;
}

/* Hamburger Open State */
.hamburger_open div:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
}

.hamburger_open div:nth-child(2) {
  opacity: 0;
}

.hamburger_open div:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
}

@media (max-width: 768px) {
  .navbar_container {
    padding: 0px 30px 0px 30px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
  }

  .navbar_links ul,
  .navbar_btn_container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    max-height: 0;
    padding-left: 30px;
    opacity: 0;
  }

  .navbar_links ul.show_nav {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    gap: 25px;
    max-height: 400px;
    opacity: 1;
  }
  .navbar_btn_container.show_nav {
    padding-left: 30px;
    display: flex;
    padding-top: 20px;
    max-height: 300px;
    opacity: 1;
  }
  .navbar_links ul {
    display: flex;
    gap: 20px;
  }

  .navbar_btn_container button {
    display: none;
  }

  .navbar_btn_container {
    width: 100%;
  }
}

@media (min-width: 758px) and (max-width: 860px) {
  .navbar_btn_container {
    gap: 20px;
  }

  .navbar_btn_container button {
    padding: 10px 20px;
  }

  .navbar_links ul {
    display: flex;
    gap: 30px;
  }
}

.apply_now_modal {
  width: 30vw;
}

.apply_now_modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.apply_now_modal_container_item{
  width: 100%;
  height: 40px;
}

.apply_now_modal_container input {
  width: 100%;
  padding: 10px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #848282;
  border-radius: 10px;
}

.apply_now_modal h3 {
  font-size: 24px;
  font-weight: 500;
}

.form_phone_new_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_phone_new_contents p {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
}

.form_phone_new_contents a {
  text-decoration: none;
  font-size: 10px;
  color: #0197f4;
}

.form_phone_new_button button {
  padding: 10px 25px;
  background-image: linear-gradient(#FFC800, #FFC800);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

/* PhoneInputStyles */

/* Container */
.customPhoneInputContainer {
  border-radius: 4px;
  border: none !;
  width: 100% !important;
}

/* Input */
.customPhoneInput {
  font-size: 16px;
  color: #848282;
  width: 100%;
  padding: 10px;
  border: none !important;
}

/* Dropdown button */
.customPhoneInputButton {
  background-color: #fff !important;
  border: none !important;
  border-right: 1px solid #848282 !important;
}

.form_phone_new_input {
  padding-bottom: 5px;
  border-bottom: 1px solid #848282;
  border-radius: 10px;
  width: 100% !important;
}

/* .fileInput_input {
  display: none;
} */

/* .resume_upload_new{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #848282;
  padding: 5px 10px;
  border-radius: 20px;
} */

/* .resume_input{
  font-size: 14px;
  color: #50A8DD;
} */

/* .react-tel-input .form-control{
  width: 100%;
} */

/* .fileName{
  color: #848282;
} */

@media screen and (max-width: 900px) {
  .apply_now_modal {
    width: 55vw;
  }
}

@media screen and (max-width: 600px) {
  .apply_now_modal {
    width: 75vw;
  }
}

.customPhoneInputContainer .country-list {
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Ensures smooth scrolling on iOS */
}

.iosScrolling {
  -webkit-overflow-scrolling: touch;
}

.error {
  color: #ff0000; 
  font-size: 10px; 
  font-weight: 300; 
  display: none;
}

input:invalid + .error {
  display: block; 
}