.home_solutions {
  padding: 50px 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.home_solutions_container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home_solutions_heading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.home_solutions_heading_container h1 {
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
}

.home_solutions_heading_container p {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
}

.home_solutions_parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.home_solutions_parallax_container_one,
.home_solutions_parallax_container_two,
.home_solutions_parallax_container_three,
.home_solutions_parallax_container_four,
.home_solutions_parallax_container_five {
  border-radius: 40px;
  width: 100%;
  position: sticky;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
  margin-top: 50px;
}

.home_solutions_parallax_container_one {
  background-color: #e9e9e9;
  z-index: 1;
  top: 15%;
}

.home_solutions_parallax_container_two {
  background-color: #ededed;
  z-index: 2;
  top: 20%;
}

.home_solutions_parallax_container_three {
  background-color: #f2f2f2;
  z-index: 3;
  top: 25%;
}

.home_solutions_parallax_container_four {
  background-color: #f6f6f6;
  z-index: 4;
  top: 30%;
}
.home_solutions_parallax_container_five {
  background-color: #fbfbfb;
  z-index: 5;
}

.home_solutions_parallax_item_one {
  width: 100%;
}

.home_solutions_parallax_item_one h2 {
  font-size: 30px;
  font-weight: 400;
  width: 60%;
}

.home_solutions_parallax_item_one p {
  padding-top: 20px;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 23px;
  width: 100%;
}

.home_solutions_parallax_item_one div:nth-child(2) {
  padding-top: 30px;
}

.home_solutions_parallax_img_container {
  width: 50%;
  border: 10px solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 38px;
  height: 100%;
  overflow: hidden;
}

.home_solutions_parallax_img_container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Responsive styles */

@media (max-width: 1200px) {
  .home_solutions_heading_container {
    gap: 50px;
  }

  .home_solutions_heading_container h1 {
    font-size: 36px;
  }

  .home_solutions_heading_container p {
    font-size: 16px;
  }

  .home_solutions_parallax_container_one,
  .home_solutions_parallax_container_two,
  .home_solutions_parallax_container_three,
  .home_solutions_parallax_container_four,
  .home_solutions_parallax_container_five {
    padding: 30px;
    margin-top: 30px;
    height: 550px;
  }

  .home_solutions_parallax_item_one h2 {
    font-size: 28px;
  }

  .home_solutions_parallax_item_one p {
    font-size: 15px;
  }

  .home_solutions_parallax_img_container {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .home_solutions_heading_container {
    flex-direction: column;
    gap: 20px;
  }

  .home_solutions_heading_container h1 {
    font-size: 32px;
    text-align: center;
   
  }

  .home_solutions_heading_container p {
    font-size: 16px;
    text-align: center;
  }

  .home_solutions_parallax {
    flex-direction: column;
  }

  .home_solutions_parallax_container_one,
  .home_solutions_parallax_container_two,
  .home_solutions_parallax_container_three,
  .home_solutions_parallax_container_four,
  .home_solutions_parallax_container_five {
    padding: 20px;
    margin-top: 20px;
    height: 650px;
  }

  .home_solutions_parallax_item_one h2 {
    font-size: 24px;
    padding-top: 25px;
  }

  .home_solutions_parallax_item_one p {
    font-size: 15px;
    width: 100%;
  }

  .home_solutions_parallax_img_container {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .home_solutions {
    padding: 25px 0px;
  }
  .home_solutions_heading_container {
    flex-direction: column;
    text-align: center;
  }

  .home_solutions_heading_container h1 {
    font-size: 24px;
    line-height: 40px;
  }

  .home_solutions_heading_container p {
    font-size: 16px;
  }

  .home_solutions_parallax_container_one,
  .home_solutions_parallax_container_two,
  .home_solutions_parallax_container_three,
  .home_solutions_parallax_container_four,
  .home_solutions_parallax_container_five {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    height: auto;
  }

  .home_solutions_parallax_item_one {
    flex-direction: column;
  }

  .home_solutions_parallax_item_one div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .home_solutions_parallax_item_one div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
  }
  .home_solutions_parallax_item_one h2 {
    font-size: 24px;
    width: 100%;
  }

  .home_solutions_parallax_item_one p {
    font-size: 16px;
    width: 90%;
  }

  .home_solutions_parallax_img_container {
    width: 70%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
  }
}

@media (max-width: 576px) {
  .home_solutions {
    padding: 25px 0px;
  }
  .home_solutions_heading_container {
    flex-direction: column;
    text-align: center;
  }

  .home_solutions_heading_container h1 {
    font-size: 24px;
    line-height: 40px;
  }

  .home_solutions_heading_container p {
    font-size: 14px;
  }

  .home_solutions_parallax_container_one,
  .home_solutions_parallax_container_two,
  .home_solutions_parallax_container_three,
  .home_solutions_parallax_container_four,
  .home_solutions_parallax_container_five {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    height: auto;
  }

  .home_solutions_parallax_item_one {
    flex-direction: column;
  }

  .home_solutions_parallax_item_one div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .home_solutions_parallax_item_one div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
  }
  .home_solutions_parallax_item_one h2 {
    font-size: 18px;
    width: 100%;
  }

  .home_solutions_parallax_item_one p {
    font-size: 14px;
    width: 90%;
  }

  .home_solutions_parallax_img_container {
    width: 100%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
  }
}
